rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(deckData) {
      return request.auth != null && request.auth.uid == deckData.ownerUid;
    }
    function deckData(deckId) {
      return get(/databases/$(database)/documents/decks/$(deckId)).data;
    }

    match /decks/{deckId} {
      allow read: if resource.data.visibility == 'published' || isOwner(resource.data);
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow update, delete: if isOwner(resource.data);

      match /cards/{cardId} {
        allow read: if deckData(deckId).visibility == 'published' || isOwner(deckData(deckId));
        allow create, update, delete: if isOwner(deckData(deckId));
      }
    }

    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
